.title {
  font-size: 1.5em;
  text-align: center;
  color: #333;
}
.chapter-title {
  font-size: 1.2em;
  color: #333;
}
img {
  float: left;
  margin-right: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
}
p {
  text-indent: 1em;
}